.backButton {
    position: fixed;
    bottom: 5%;
    left: 5%;
    width: 75px;
    height: 75px;
    background: #ffffff;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    font-size: 1.9em;
    transition: all 0.3s ease-in-out;
    &:hover {
        background: #ccc;
    }
}