.backButton {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 5vw;
    height: 5vw;
    font-size: 2vw;
    background: #ffffff;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    transition: all 0.3s ease-in-out;
    &:hover {
        background: #ccc;
    }
}