.recentMatch {
  width: 300px;
  min-height: 60px;
  border-radius: 5px;
  margin: 0 auto;
  padding-block: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.matchLoss {
  background-color: #794646;
  box-shadow: 0 5px 10px 0 #290000;
  border: 2px solid #290000;
}

.matchWin {
    background-color: #3d8a57;
    box-shadow: 0 5px 10px 0 #002900;
    border: 2px solid #002900;
}

.winLossIndicator {
  position:absolute;
  left:10px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  font-family: "Courier New", Courier, monospace;
}