#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.api-key-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

input {
    width: 300px;
}

button {
    width: 340px;
}

input {
    margin-top: 1rem;
}