:root {
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: inherit;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.5s;
  &:hover {
    border-color: white;
  }
}

input, label, select {
  display: block;
  margin-bottom: 0.5em;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  color: inherit;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.5s;
  &:focus {
    outline: none;
    border-color: white;
  }
}

select {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    color: inherit;
    font-family: inherit;
    background-color: #1a1a1a;
    transition: border-color 0.5s;
    width: 340px;
    &:focus {
        outline: none;
        border-color: white;
    }
}

.text-center {
  text-align: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
}

.matchGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(auto, max-content);
  grid-gap: 1rem;
  width: 100%;
}